/* Base Element Styles */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #D3D3D3;
    line-height: 1.7;
    max-width: 100%;
    text-align: center;
  }

  main {
      background-color: #FFFFFF;
      padding: .25em;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Nunito', sans-serif;
    color: #000000;
    margin:0;
  }

  p {
    font-size: .95em;
    margin-bottom: 1.8em;
    text-align: center;
    color: #000000;
  }

h1,
h2,
h3,
a {
  color: #000000;
}

h2,
h3,
h4 {
  margin-top: 25px;
  text-align: center;
  }



a {
  text-decoration: none;
}

.responsive {
  max-width: 100%;
}
/* Navigation */
.name {
  float: left;
  text-align: center;
  font-size: 1.25em;
  margin-top: 12px;
  margin-bottom: 12px;
  top: 0;
  left: 0;
}

.name,
.main-nav li {

  tex-align: center;
  margin-top: 25px;
  margin-bottom: 6px;

}

.main-nav li {
  display: inline-block;
  list-style: none;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 15px 10px;
  justify-content: space-around;
  display: flex;
  flex-direction: row-reverse;


}

.main-nav li: last-of-type {
  margin-right: 0px;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  }

.main-nav a {
  padding: 10px 15px;
  font-size:.95em;
  color:#000000;
  text-transform: uppercase;
}

.main-nav {
    position: relative;
    margin-top: 100px;
  }


.footer-name {
  font-size: 1.25em;
}

.footer-name,
.footer-nav li {
  tex-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer-nav li {
  padding: 15px, 0;
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  flex-direction: row-reverse;
}

.footer-name a,
.footer-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  }

.footer-nav a {
  font-size:.95em;
  color:#000000;
  text-transform: uppercase;
  font-weight: 800;

}

.main-nav a:hover,
.footer a:hover {
  color: #FFC0CB;
}





/* Layout Containers */
.container {
  width: 70%;
  margin: 0 auto;
  }

  .main-header {
    text-align: center;
    background: #D3D3D3;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;

  }


  .main-footer {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;
    background:#D3D3D3;
      }

  .banner {
    padding: 3.2em, 0;
    margin-bottom: 60px;
      }

.responsive {
    float: right;
    background: #D3D3D3;
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom:: 2px;
  }

  .tagline {
    margin-left: 25px;
    text-align: left;
    padding top: 10px;
    padding bottom: 25px;
    padding-left: 0;
    margin-bottom: 25px;
      }

.primary,
.secondary,
.tertiary {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
}

.col img {
  width: 100px;
  max-width: 1150px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 5px, 5px, 2px, #FFFAFA;

}

.col h3 {
  text-align: center;
  width: 100%;
}

.col p {
  text-align: center;
  width: 100%;
}

.banner {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}




/* Media Queries */
@media (min-width: 768px) {
  .wrap {
    min-height: (100vh-89px);
  }

  .container {
    width: 90%;
    max-width: 1150px;
    margin: 0,auto;
  }

  .main-nav li {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    }


  .name {
    display: inline-block;
  }

    .name,
   .main-nav,
   .main-nav li {
     display: inline;
   }

.main-nav a {
  font-size: .9em;
  padding: 0;
}

  .name {
    position: fixed;
    width: 240px;
    padding: 15px 0;
  }

  .col {
    float: left;
    padding: 5px, 5px;
  }

.primary,
.secondary {
  width: 50%;
}

.tertiary {
  width: 50%;
}

.responsive {
    width: 500px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    }

    .footer-name {
      float: left;
      display: inline-block;
      margin-left: 40px;
      padding: 15px 0;
    }

    .footer-nav li {
      float: right;
      display: flex;
      flex-direction: row-reverse;
    }

     .footer,
     .footer-nav,
     .footer-nav li {
       display: inline;
     }

    .tagline {
    width: 53%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px, 0;
     }

     .tagline,
     .responsive {
       padding: 10px;
     }

     .clearfix::after {
       content: " ";
       display: table;
       clear: both;
     }


}

@media (min-width:1024px) {

  .container {
    width: 80%;
    max-width: 1150px;
  }

  .main-nav li {
    float: right;
  }

   .name,
   .main-nav,
   .main-nav li {
     display: inline;
   }

   .footer-nav li {
     float: right;
   }

    .end,
    .footer-nav,
    .footer-nav li {
      display: inline;
    }

    .col {
      float: left;
      padding: 10px 10px;
  }

  .primary,
  .tertiary {
    width: 30%;

  }

  .secondary {
    width: 30%;
}


  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

}
