/* Base Element Styles */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #D3D3D3;
    line-height: 1.7;
    max-width: 100%;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  main {
      background-color: #FFFFFF;
      padding: .25em;
  }

.main-nav li {
  font-weight: bold;
  list-style: none;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 15px;
  background-color: white;

}

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Nunito', sans-serif;
    color: #000000;
    margin:0;
  }

  p {
    font-size: .95em;
    margin-bottom: 1.8em;
    text-align: center;
    color: #000000;
  }

h1,
h2,
h3,
a {
  color: #000000;
}

h2,
h3,
h4 {
  margin-top: 25px;
  text-align: center;
  }

  .footer-name {
    padding: 0;
    margin: 0;
    float: left;
  }

  .back-to-top {
    float: right;
    padding: 0;
    margin: 0;
    display: initial;
  }

.footer-nav li {
  display: none;
  font-weight: bold;

}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
/* Navigation */
.main-header {
  text-align: center;
  width: 100%;
}

.main-nav li {
  list-style: none;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 15px;
}


.name,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  }

.main-nav a {
  padding: 10px 15px;
  font-size:.95em;
  color:#000000;
  text-transform: uppercase;
}

.main-nav {
    padding: 0;
  }


.footer-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-name,
.footer-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  }

.footer-nav a {
  font-size:.95em;
  color:#000000;
  text-transform: uppercase;
  font-weight: 800;

}

.main-nav a:hover
 {
  color: #FFC0CB;
}

/* Layout Containers */
.container {
  width: 70%;
  margin: 0 auto;
  }

  .main-header,
  .main-footer {
    text-align: center;
    background: #D3D3D3;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;

  }

  .banner {
    padding: 3.2em;
    margin-bottom: 60px;
      }

.responsive {

    background: #D3D3D3;
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 2px;
  }

  .tagline {
    margin-left: 25px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-bottom: 25px;
      }

.primary,
.secondary,
.tertiary {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
}

.col img {
  width: 100px;
  max-width: 1150px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 5px 2px #FFFAFA;
}

.col h3 {
  text-align: center;
  width: 100%;
}

.col p {
  text-align: center;
  width: 100%;
}

.banner {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}




/* Media Queries */
@media (min-width: 768px) {
  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 90%;
    max-width: 1150px;
    margin: 0;
  }

  .name {
    font-size: 1.25em;
    padding: 0;
    margin-left: 20px;
  }

  .main-nav li {
    background-color: #D3D3D3;
    display: inline-block;
    margin-left: 20px;
    }


.main-nav a {
  font-size: .9em;
  padding: 0;
}


  .col {
    float: left;
    padding: 4px;
  }

.primary,
.secondary,
.tertiary {
  width: 50%;
}

.responsive {
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    }



    .tagline {
    width: 53%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
     }

     .responsive,
     .tagline {
       padding: 10px;
     }


     .back-to-top {
       display: none;
       opacity: 0;
       width: 75%;

     }

     .footer-name {
           float: left;
           width: 25%;
         }

         .footer-nav {
           float: right;
         }

         .footer-nav li {
           float: left;
           margin-left: 12px;
           display: initial;
         }

         .footer-name,
         .footer-nav,
         .footer-nav li {
           display: inline-block;
           text-align: center;
           margin-top: 6px;
           margin-bottom: 6px;
         }

     .clearfix::after {
       content: " ";
       display: table;
       clear: both;
     }


}

@media (min-width:1024px) {

  .container {
    width: 80%;
    max-width: 1150px;
    margin: auto;
  }

  .name {
    float: left;
    font-size: 1.25em;
    padding: 0;
    margin-left: 20px;
}

.main-nav {
  float: right;
}

.main-nav li {
  background-color: #D3D3D3;
}

  .primary,
  .secondary,
  .tertiary
   {
    width: 33%;
  }

  .back-to-top {
    display: none;
    opacity: 0;
  }

  .footer-name {
   float: left;
   padding: 0;
   margin-left: 20px;

 }
 .main-footer {
   padding: 0;
 }
 .footer-nav {
   margin: 0;
   padding: 0;
   height: auto;
 }

 .nav {
   padding: 0;
   margin: 0;
 }
 .footer-nav li {
   padding: 0;
   margin: 0;
   visibility: visible;

 }
 .footer-nav a {
   padding: 0;
   margin: -10px 20px;
 }

}
